@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

$light-primary: #ffd296;
$light-text: #261c1a;
$dark-primary: #332647;
$dark-text: #eddea4;
$primary-font: 'Cute Font', cursive;
$primary-font-size: 30px;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
)
